.container{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    min-width: 800px;
    color: white;
    margin: 10px 10px 10px 10px;
    padding: 0px 10px 0px 10px;
    background: radial-gradient(35.59% 27820.2% at 49.18% 50%, rgba(58, 58, 58, 0.03) 0%, #232323 100%);
}
.options{
    cursor: pointer;
    margin: 15px;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 17px;
}
.logo{
    margin: 10px;
    cursor: default;
}
.searchBar{
    border-radius: 18px;
    padding: 8px;
    width: 800px;
    border: none;
    margin: 0px 40px 0px 40px;
}
.cartOff{
    cursor: pointer;
    height: 35px;
    width: 35px;
    padding: 0px 25px 0px 25px;
    margin: 5px 15px 5px 15px;
    border-radius: 20px;
    background: linear-gradient(-30deg, #2D2D2D 35.18%, #8E8E8E 125.76%);
    box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.34), 3px 3px 8px rgba(0, 0, 0, 0.89);
}
.cartOn{
    background: linear-gradient(121.66deg, #2D2D2D 15.18%, #8E8E8E 155.76%) !important;
    cursor: pointer;
    height: 35px;
    width: 35px;
    padding: 0px 25px 0px 25px;
    margin: 5px 15px 5px 15px;
    border-radius: 20px;
    box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.34), 3px 3px 8px rgba(0, 0, 0, 0.89);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemsInCart{
    position: absolute;
    background-color: rgba(255, 0, 0, 0.808);
    padding: 2px 4px 2px 4px;
    border-radius: 8px;;
    right: 30px;
    top: 0px;
    font-size: 15px;
}