.container{
    display:flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.options{
    cursor: pointer;
    margin: 15px;
    text-decoration: none;
    border: none;
    color: black;
    font-size: 17px;
}