.container{
}
.thumbNail{
    height: 300px;
    width: 300px;
    padding: 15px;
}
.title{
    margin: 15px 15px 0px 15px;
}
.addToCart{
    cursor: pointer;
    margin: 15px 15px 0px 15px;
    background: rgba(81, 78, 228, 0.8);
    border:none;
    color: white;
    padding: 10px 15px 10px 15px;
}
.addToCart:hover{
    background: rgba(60, 58, 189, 0.8) !important;
  }
.price{
    margin: 15px 15px 0px 15px;
}
.list{
    display:flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px;
}
.itemContainer{
    padding: 10px;
    margin: 0px 15px 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 750px;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}